size <%=size%>
crust <%=crust%>
sauce <%=sauce%>
meats <%=meats%>
veggies <%=veggies%>
cheese <%=cheese%>

<center>
<form method"post" action="confirm">
	<%if sauce == nil%>
	<%else%>
		<%sauce.each do |x| %>
		<%=x%>-	<input type="radio" name="sauce[<%=x%>]" value="<%=x%>">Yes
		<input type="radio" name="sauce[<%=x%>]">No<br>
		<%end%>
	<%end%>
<br>

	<%if meats == nil%>
	<%else%>
		<%meats.each do |x| %>
		<%=x%>- <input type="radio" name="meats[<%=x%>]" value="<%=x%>">Yes
		<input type="radio" name="meats[<%=x%>]">No<br>
		<%end%>
	<%end%>
<br>

	<%if veggies == nil%>
	<%else%>
		<%veggies.each do |x| %>
			<%=x%>- <input type="radio" name="veggies[<%=x%>]" value="<%=x%>">Yes
			<input type="radio" name="veggies[<%=x%>]">No<br>
		<%end%>
	<%end%>
<br>

	<%if cheese == nil%>
	<%else%>
		<%cheese.each do |x| %>
			<%=x%>- <input type="radio" name="cheese[<%=x%>]" value="<%=x%>">Yes
			<input type="radio" name="cheese[<%=x%>]">No<br>
		<%end%>
	<%end%>
		</form></center>

	
	
	
	
	









