<h1>Confirm your selections and choose how you want your cheese</h1>

<form method="post" action="confirm">
<strong>Size</strong><br>
	<input type="radio" name="size" value="<%=size%>" checked><%=size%><br>
<strong>Would you like to reselect your size?</strong><br>
	<input type="radio" name="size" value="small">Small<br>
	<input type="radio" name="size" value="medium">Medium<br>
	<input type="radio" name="size" value="large">Large<br>
	<input type="radio" name="size" value="X-large">X-large<br>
	<br>
<strong>Crust</strong><br>
	<input type="radio" name="crust" value="<%=crust%>" checked><%=crust%><br>
<strong>Would you like to reselect your crust?</strong><br>
	<input type="radio" name="crust" value="thin">Thin<br>
	<input type="radio" name="crust" value="thick">Thick<br>
	<input type="radio" name="crust" value="stuffed">Stuffed<br>
	<br>
<strong>Sauce(s)</strong><br>
	<%if sauce == nil%>
	<%else%>
		<%sauce.each do |x| %>
		<img src = "/images/<%=x%>.jpeg"  width="60" height="60">
		<%=x%>-	<input type="radio" name="sauce[<%=x%>]" value="<%=x%>" checked>Yes
		<input type="radio" name="sauce[<%=x%>]" value="">No<br>
		<%end%>
	<%end%>
<br>
<strong>Meats</strong><br>
	<%if meats == nil%>
	<%else%>
		<%meats.each do |x| %>
		<img src = "/images/<%=x%>.jpeg"  width="60" height="60">
		<%=x%>- <input type="radio" name="meats[<%=x%>]" value="<%=x%>" checked>Yes
		<input type="radio" name="meats[<%=x%>]" value="">No<br>
		<%end%>
	<%end%>
<br>
<strong>Veggies</strong><br>
	<%if veggies == nil%>
	<%else%>
		<%veggies.each do |x| %>
			<img src = "/images/<%=x%>.jpeg"  width="60" height="60">
			<%=x%>- <input type="radio" name="veggies[<%=x%>]" value="<%=x%>" checked>Yes
			<input type="radio" name="veggies[<%=x%>]" value="">No<br>
		<%end%>
	<%end%>
<br>

<strong>Cheese(s)</strong><br> 

	<%if cheese == ""%>
		<strong>You selected no cheese, would you like to order a proper pizza istead?</strong><br>
			<img src = "/images/regular.jpeg"  width="60" height="60">
			<input type="checkbox" name="cheese[]" value="regular" required>Regular<br>
			<img src = "/images/four cheese.jpeg"  width="60" height="60">
			<input type="checkbox" name="cheese[]" value="four cheese">Four cheese<br>
			<img src = "/images/extra cheese.jpeg"  width="60" height="60">
			<input type="checkbox" name="cheese[]" value="extra cheese">Extra cheese<br>
	<%else%>
			<img src = "/images/regular.jpeg"  width="60" height="60">
			<input type="checkbox" name="cheese[]" value="regular">Regular<br>
			<img src = "/images/four cheese.jpeg"  width="60" height="60">
			<input type="checkbox" name="cheese[]" value="four cheese">Four cheese<br>
			<img src = "/images/extra cheese.jpeg"  width="60" height="60">
			<input type="checkbox" name="cheese[]" value="extra cheese">Extra cheese<br>
	<%end%><br>

<strong>Delivery</strong><br>
	<input type="radio" name="delivery" value="delivery">Delivery<br>
	<input type="radio" name="delivery" value="pickup">Pickup<br>
	<input type="radio" name="delivery" value="dinein">Dine-in<br>
<br>
<strong>Name on the order</strong><br>
	<input type="text" placeholder="Lastname" name="lastname"><br>
<strong>If delivery please enter address to be delivered to.</strong><br>
	<input type="text" placeholder="Address" name="address"><br>
	<input type="submit" value="Place Order">
	<br>
		</form>

	
	
	
	
	









