<center><h1>Thank you for your order!<br>
Here's your pizza!</h1>
<strong>Name on the order is-</strong> <%=lastname%><br>
<strong>Size-</strong> <%=size%><br>
----------------------<br>
<strong>Crust-</strong> <%=crust%> Crust<br>
----------------------<br>
<strong>Sauce(s)-</strong> <br>
<%if sauce == nil%>
<%else%>
<%sauce.each do |x| %>
<img src = "/images/<%=x%>.jpeg"  width="60" height="60">
	<%=x%><br>
	<%end%>
<%end%><br>
----------------------<br>
<strong>Meats-</strong> <br>
<%if meats == nil%>
<%else%>
	<%meats.each do |x| %>
	<img src = "/images/<%=x%>.jpeg"  width="60" height="60">
	<%=x%><br>
	<%end%>
<%end%><br>
----------------------<br>
<strong>Veggies-</strong><br>
<%if veggies == nil%>
<%else%>
	<%veggies.each do |x| %>
	<img src = "/images/<%=x%>.jpeg"  width="60" height="60">
	<%=x%><br>
	<%end%>
<%end%><br>
----------------------<br>

<strong>Cheese-</strong><br>
<%cheese.each do |x|%>
<img src = "/images/<%=x%>.jpeg"  width="60" height="60">
	<%=x%><br>
<%end%><br>
----------------------<br>
<strong>Delivery, pickup, or dine-in-</strong> <%=delivery%><br>
<br>
<strong>Delivery Address-</strong> <%=address%>
<form method="post" action="results">
<input type="submit" value="Make another pizza?">
</form></center>


